body {
    /* background-color: #DCE2E5; */
    padding-top: 56px;
}

.card-header.inner {
    background-color: #423D47;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-caption { 
  color: black;
  position:static; 
}

.row.result {
  width: 80%;
  margin-left: 10%;
}

.card.my-11 {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;
}

.row.disp {
  margin-top: 1%;
  margin-bottom: 1%;
}

.bullets {
  text-align: left;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.navbar {
  background-color: #423D47;
}

/* #423D47 */
/* #909FAA */
/* #DCE2E5 */
/* #F1D1B */
/* #DB5722 */
